# composer
vendor/
composer.lock

# node module
node_modules/

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# phpstorm
.idea

# ide helper
_ide_helper.php
.phpstorm.meta.php

# finder
._.DS_Store
.DS_Store
